.Card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 300px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;

  }
  
  .CardParent {
      text-align: center;
  }
  .Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  
  .CardImage {
    border-radius: 5px 5px 0 0;
    width:100%;
    height: 250px;
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .CategoryTitle{
    text-align:center;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 1em;


  }