@import url(https://fonts.googleapis.com/css?family=KaushanScript);

* {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
}

header {
  margin: 0;
  display: flex;
  align-items: center;
  letter-spacing: 0.033em;
  padding: 0.75rem;
  background-color: #ffebd9;
}

body {
  margin: 0;
  background-color: white;
}

.Title {
  padding-top: 10px;
  padding-bottom: 0px;
  /* padding-left: 0px; */
  /* padding-right: 100px; */
  /* margin-left: 30px; */
  position: relative;
}

.Title .Tab {
  margin-left: 10px;
}

.Tab header {
  display: block;
}

.CategoryTabsContainer {
  align-items: center;
}

.MainHeader {
  margin-left: 30px;
  text-align: center;
}

.Tab {
  align-items: center;
}

ul {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  margin-left: 20px;
  display: inline;
}

.CartIcon {
  position: relative;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}
